# Node modules
node_modules/

# Build output
dist/
build/

# Logs
npm-debug.log*

# Environment variables
.env
.env.local

# Editor directories and files
.vscode/
.eslintrc.js

# System files
.DS_Store

# Testing
coverage/
jest-test-results.json